@import "../../../assets/style/index.less";

@recruitList: recruit-list;
.@{recruitList}-wrapper {
  width: 100%;
  background: #fafafa;
  position: relative;
  overflow: hidden;
  .@{recruitList}-content {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background: #fff;
    .@{recruitList}-more {
      text-align: center;
      margin: 12px;
      height: 32px;
      line-height: 32px;
    }
  }
}

@media screen and (max-width: 767px) {

}
