@import "../../../assets/style/index.less";

@recruitList: recruit-list;
.@{recruitList}-wrapper {
  width: 100%;
  background: #fafafa;
  position: relative;
  overflow: hidden;
  .@{recruitList}-search-item, .@{recruitList}-content {
    height: 100%;
    max-width: 1200px;
    position: relative;
    margin: 40px auto;
  }
  .@{recruitList}-RecruitList, .@{recruitList}-sidebar{
    background: #fff;
    margin: 0;
  }
  .@{recruitList}-search {
    padding: 40px;
    background: #fff;
    width: 100%;
    .@{recruitList}-search-item {
      .recruit-list-search-input {
        max-width: 600px;
      }
    }
  }
  .@{recruitList}-content {
    display: flex;
    justify-content: space-between;
    .@{recruitList}-RecruitList {
      padding: 40px;
      overflow: hidden;
      width: 100%;
      max-width: 850px;
      .@{recruitList}-more {
        text-align: center;
        margin: 12px;
        height: 32px;
        line-height: 32px;
      }
    }
    .@{recruitList}-sidebar {
      width: 100%;
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .@{recruitList}-content {
    flex-wrap: wrap;
    justify-content: space-around!important;
    .@{recruitList}-search {
      padding: 10px!important;
    }
    .ant-list-item-extra {
      margin: 0!important;
    }
    .@{recruitList}-sidebar {
      max-width: 100% !important;
    }
  }
}
