@import "../../../assets/style/index.less";

@articleList: article-list;
.@{articleList}-wrapper {
  width: 100%;
  background: #fafafa;
  position: relative;
  overflow: hidden;
  .@{articleList}-content {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    padding: 40px;
    background: #fff;
    .@{articleList}-time {
      margin-left: 20px;
    }
    .@{articleList}-more {
      text-align: center;
      margin: 12px;
      height: 32px;
      line-height: 32px;
    }
    .ant-list-item-meta-title {
      font-size: 18px;
    }
    .ant-avatar, .ant-skeleton-avatar-lg{
      > img:hover {
        transition: all ease-out .4s;
        transform:scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .@{articleList}-wrapper {
    padding: 10px;
    .@{articleList}-content {
      padding: 10px;
      .@{articleList}-time {
        margin-left: auto;
      }
      .ant-list-item {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: normal;
      }
    }
  }
}
